langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
pandas
python-docx
docx2txt
unstructured[docx]
openpyxl
msoffcrypto-tool
jq
matplotlib
langchain-huggingface
langchain-openai
langchain-experimental
rank_bm25
wikipedia
hf_xet
langgraph
yfinance
langchain-tavily